<WSConfig xmlns="http://bars-open.ru/schema/wsfactory">
  <Protocols>
    <Protocol code="soap11" direction="BOTH" module="spyne.protocol.soap.soap11.Soap11" name="SOAP 1.1"/>
    <Protocol code="json" direction="BOTH" module="spyne.protocol.json.JsonDocument" name="JSON Protocol"/>
    <Protocol code="soap11wsse" direction="BOTH" module="wsfactory.smev.Soap11WSSE" name="SOAP 1.1 WSSE"/>
    <Protocol code="http-rpc" direction="IN" module="spyne.protocol.http.HttpRpc" name="HTTP RPC"/>
    <Protocol code="smev256" direction="BOTH" module="wsfactory.smev.Smev256" name="СМЭВ 2.5.6">
      <Param key="SenderCode" valueType="unicode">987654321</Param>
      <Param key="SenderName" valueType="unicode">MINOBR</Param>
    </Protocol>
  </Protocols>
  <ApiRegistry>
    <Api code="CreateOrderOU" module="web_edu.core.declaration.wsapi.CreateOrderOU" name="Подать заявление"/>
    <Api code="SayHello" module="web_edu.core.declaration.wsapi.SayHello" name="Привет!"/>
    <Api code="GetOU" module="web_edu.core.declaration.wsapi.GetOU" name="Получить список учреждений"/>
  </ApiRegistry>
  <Services>
    <Service code="HelloWorld" name="Тестовый сервис">
      <Api code="SayHello"/>
    </Service>
    <Service code="Declaration" name="Услуга подачи заявления на ЕПГУ">
      <Api code="CreateOrderOU"/>
      <Api code="GetOU"/>
    </Service>
  </Services>
  <SecurityProfile>
    <Security code="security" name="Профиль по умолчанию" pem_file_name="/tmp/test_nao.pem" private_key_pass="12345678"/>
  </SecurityProfile>
  <Applications>
    <Application name="HelloWorld-soap11-smev256" service="HelloWorld">
      <InProtocol code="soap11"/>
      <OutProtocol code="smev256" security="security"/>
    </Application>
    <Application name="Test" service="HelloWorld">
      <InProtocol code="http-rpc"/>
      <OutProtocol code="smev256" security="security">
        <Param key="Mnemonic" valueType="unicode">123456789</Param>
        <Param key="RecipientName" valueType="unicode">BlaBlaBla</Param>
        <Param key="Version" valueType="unicode">1.00</Param>
        <Param key="RecipientCode" valueType="unicode">123456789</Param>
      </OutProtocol>
    </Application>
    <Application name="Declaration-smev256-smev256" service="Declaration" tns="http://bars-open.ru/inf">
      <InProtocol code="smev256" security="security">
        <Param key="Mnemonic" valueType="unicode">345373247</Param>
        <Param key="SenderCode" valueType="unicode">213124324</Param>
      </InProtocol>
      <OutProtocol code="soap11" security="security">
        <Param key="Mnemonic" valueType="unicode">345373247</Param>
      </OutProtocol>
    </Application>
    <Application name="Declaration" service="Declaration">
      <InProtocol code="soap11">
        <Param key="pretty_print" valueType="bool">True</Param>
      </InProtocol>
      <OutProtocol code="soap11"/>
    </Application>
  </Applications>
</WSConfig>
